---
layout: default
---

<!-- <article class="project">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

  {% include disqus.html %}
</article> -->
<main class="project">
	<section id="contact-content">
		<img id="project-image" src="{{ site.baseurl }}/{{ site.image_path }}/{{ page.image }}">
		<h1 id="project-title">{{ page.title }}</h1>
		<h2 id="project-date">{{ page.date }}</h2>

		{{ content }}

	</section>

</main>
